# Игнорирование виртуальной среды Python
venv/
.venv/


# Игнорирование файлов с окружением
.env
docker-compose.yml

# Игнорирование скомпилированных файлов Python
__pycache__/
**/__pycache__/

# Игнорирование настроек проекта для PyCharm
.ideas/
**/.ideas/

Scripts/
**/Scripts/
Lib/
**/Lib/
Include/
**/Include/